{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <title></title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/sems/grid.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/sems/style_sems.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/sems/responsive.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/sems/arcss.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Germania+One|Iceberg|Lobster|Pacifico|Shadows+Into+Light" rel="stylesheet">
    </head>
    
    <body>
        {% block content %}

        {% endblock %}
    </body>
</html>