{% extends 'Semester/sem-layout.html'%}
{% load static %}
{% block title %} 1st Semester - C {% endblock %}
{% block content %}
        <header>
            <div class="row">
                <h1>1st Semester</h1>
            </div>
        </header>
        <section>
            <div class="row">
                <h2>Introduction to Programming Language using C</h2>
            </div>
            <div class="row">
                 <a href="notes/C" class="content mdisplay">
                    <div class="col span-of-1-of-4 box">
                        <h3>Unit-I</h3>
                        <div class="desc">
                            <p>C Basics and C Constructs</p><br>
                        </div>
                    </div>
                 </a>
                 <a href="" class="content mdisplay">
                    <div class="col span-of-1-of-4 box">
                        <h3>Unit-II</h3>
                        <div class="desc">
                            <p>C Functions,Storage Classes and Arrays</p>
                        </div>
                    </div>
                 </a>
                 <a href="" class = "content mdisplay">
                    <div class="col span-of-1-of-4 box">
                        <h3>Unit-III</h3>
                        <div class="desc">
                            <p>Structures</p><br>
                        </div>
                    </div>
                 </a>
                 <a href="" class="content mdisplay">
                    <div class="col span-of-1-of-4 box">
                        <h3>Unit-IV</h3>
                        <div class="desc">
                            <p>String Manipulation</p><br>
                        </div>
                    </div>
                 </a>
            </div>
        </section>
{% endblock %}