{% extends 'Semester/sem-layout.html'%}
{% load static %}
{% block title %} 1st Semester - Physics {% endblock %}
{% block content %}
        <header>
            <div class="row">
                <h1>1st Semester</h1>
            </div>
        </header>
        <section>
            <div class="row">
                <h2>Physics</h2>
            </div>
             <div class="row">
                 <a href="#" class="content">
                    <div class="col span-of-1-of-4 box">
                        <h3>Unit-I</h3>
                        <div class="desc">
                            <p>Law of Motion and Friction</p><br>
                        </div>
                    </div>
                    <div class="col span-of-1-of-4 box">
                        <h3>Unit-II</h3>
                        <div class="desc">
                            <p>Work, Energy and Power</p><br>
                        </div>
                    </div>
                    <div class="col span-of-1-of-4 box">
                        <h3>Unit-III</h3>
                        <div class="desc">
                            <p>Electricity and electromagnetism, Electrostatics and Capacitance</p>
                        </div>
                    </div>
                    <div class="col span-of-1-of-4 box">
                        <h3>Unit-IV</h3>
                        <div class="desc">
                            <p>Structure of Atom , Semiconductors and Transistors</p>
                        </div>
                    </div>
                 </a>
            </div>
        </section>
{% endblock %}